Бухгалтерия операторы.json
{
  "name": "Бухгалтерия операторы",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 1,16 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -120
      ],
      "id": "598cf1f5-4d4b-416e-8a90-55900329b998",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appPLEgqFVgDw0mmi",
          "mode": "list",
          "cachedResultName": "Managers",
          "cachedResultUrl": "https://airtable.com/appPLEgqFVgDw0mmi"
        },
        "table": {
          "__rl": true,
          "value": "tbl8ksQCyeBHMmvs2",
          "mode": "list",
          "cachedResultName": "Касса",
          "cachedResultUrl": "https://airtable.com/appPLEgqFVgDw0mmi/tbl8ksQCyeBHMmvs2"
        },
        "filterByFormula": "=AND(\n  {Период} = \"{{ $json[\"period\"] }}\",\n  {Месяц} = \"{{ $json[\"monthLabel\"] }}\"\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        -220
      ],
      "id": "5cb4cd91-6b1d-464a-839a-f13b782054ac",
      "name": "Ищем касса",
      "credentials": {
        "airtableTokenApi": {
          "id": "JmugoxE3XblLvhm6",
          "name": "Airtable общий"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = {};\n\nfor (const item of items) {\n  const operatorId = item.json.ID;\n  const manager = item.json.managerName;\n  const kasa = parseFloat(item.json['Касса'] || 0);\n  const page = item.json.ModelsPage || ''; // Lookup строка\n\n  const key = `${operatorId}_${manager}`;\n  const percent = page.includes('MD Free') ? 0.15 : 0.19;\n\n  if (!result[key]) {\n    result[key] = {\n      ID: operatorId,\n      managerName: manager,\n      salary: 0,\n    };\n  }\n\n  result[key].salary += kasa * percent;\n}\n\n// Возвращаем финальный массив\nreturn Object.values(result).map(e => ({\n  json: {\n    ID: e.ID,\n    managerName: e.managerName,\n    salary: Math.round(e.salary * 100) / 100,\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -120
      ],
      "id": "88f3d978-b9c6-4aa7-b035-02f548946a8f",
      "name": "Расчет зп"
    },
    {
      "parameters": {
        "jsCode": "// Получаем сегодняшнюю дату\nconst now = new Date();\n\n// Узнаем текущий день месяца\nconst day = now.getDate();\n\n// Формируем дату записи: всегда ставим \"15\" или \"30/31\" — в зависимости от дня\nlet period = '';\nlet recordDate = new Date(now);\nlet recordDay = 15;\n\nif (day < 16) {\n  period = '1–15';\n  recordDay = 15;\n} else {\n  period = '16–31';\n\n  // Получаем последний день текущего месяца\n  const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0).getDate();\n  recordDay = lastDay;\n}\n\nrecordDate.setDate(recordDay);\n\n// Дата в формате ISO без времени\nconst recordDateISO = recordDate.toISOString().slice(0, 10);\n\n// Название месяца\nconst monthLabel = recordDate.toLocaleString('en-US', { month: 'long', year: 'numeric' });\n\n// Возвращаем результат\nreturn [\n  {\n    json: {\n      period,\n      recordDate: recordDateISO,    // дата для записи\n      recordDateISO,                // ISO-дата для сравнения в Airtable формуле\n      monthLabel                    // для метки в таблице\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        -120
      ],
      "id": "4ea97502-dd14-4274-a022-fbbe97b331dd",
      "name": "Устанавливаем период"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1320,
        -120
      ],
      "id": "4180d215-c3d8-4fce-af40-bb0ed95993e2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appPLEgqFVgDw0mmi",
          "mode": "list",
          "cachedResultName": "Managers",
          "cachedResultUrl": "https://airtable.com/appPLEgqFVgDw0mmi"
        },
        "table": {
          "__rl": true,
          "value": "tblcBDxoOAw5Vt53O",
          "mode": "list",
          "cachedResultName": "Операторы",
          "cachedResultUrl": "https://airtable.com/appPLEgqFVgDw0mmi/tblcBDxoOAw5Vt53O"
        },
        "filterByFormula": "={ID} != ''",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        -20
      ],
      "id": "073b61c7-29ed-4746-a53b-96e4e2ae89eb",
      "name": "Ищем оператора",
      "credentials": {
        "airtableTokenApi": {
          "id": "JmugoxE3XblLvhm6",
          "name": "Airtable общий"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appPLEgqFVgDw0mmi",
          "mode": "list",
          "cachedResultName": "Managers",
          "cachedResultUrl": "https://airtable.com/appPLEgqFVgDw0mmi"
        },
        "table": {
          "__rl": true,
          "value": "tblcBDxoOAw5Vt53O",
          "mode": "list",
          "cachedResultName": "Операторы",
          "cachedResultUrl": "https://airtable.com/appPLEgqFVgDw0mmi/tblcBDxoOAw5Vt53O"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ЗП": "={{ $json.salary }}",
            "Date": "={{ $json.date }}",
            "ID": "={{ $json.ID }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TG",
              "displayName": "TG",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TG ID",
              "displayName": "TG ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Статус",
              "displayName": "Статус",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "В работе",
                  "value": "В работе"
                },
                {
                  "name": "Уволен",
                  "value": "Уволен"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Реквизиты",
              "displayName": "Реквизиты",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Страница",
              "displayName": "Страница",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Модель",
              "displayName": "Модель",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Смена",
              "displayName": "Смена",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "00-08",
                  "value": "00-08"
                },
                {
                  "name": "08-16",
                  "value": "08-16"
                },
                {
                  "name": "16-00",
                  "value": "16-00"
                },
                {
                  "name": "00-06",
                  "value": "00-06"
                },
                {
                  "name": "06-12",
                  "value": "06-12"
                },
                {
                  "name": "12-18",
                  "value": "12-18"
                },
                {
                  "name": "18-00",
                  "value": "18-00"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Заметки",
              "displayName": "Заметки",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Менеджер",
              "displayName": "Менеджер",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ЗП",
              "displayName": "ЗП",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Месяц",
              "displayName": "Месяц",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Период",
              "displayName": "Период",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Тотал ЗП",
              "displayName": "Тотал ЗП",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Бонус",
              "displayName": "Бонус",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Штраф",
              "displayName": "Штраф",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "managerName",
              "displayName": "managerName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1540,
        -120
      ],
      "id": "7b06adda-f917-44e2-8266-669de1a8333b",
      "name": "Обновляем ЗП",
      "credentials": {
        "airtableTokenApi": {
          "id": "JmugoxE3XblLvhm6",
          "name": "Airtable общий"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "ID, managerName",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        660,
        -120
      ],
      "id": "b0ab2452-0dc0-420d-93a6-cd07e77cdd9a",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "532dd1a3-a300-496c-b15b-37d8bc7a4627",
              "name": "date",
              "value": "={{ $('Устанавливаем период').first().json.recordDate }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        -120
      ],
      "id": "6c4db334-d1f5-459e-80ab-19369e0e8ec8",
      "name": "Добавляем дату"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Устанавливаем период",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ищем касса": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Расчет зп": {
      "main": [
        [
          {
            "node": "Добавляем дату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Устанавливаем период": {
      "main": [
        [
          {
            "node": "Ищем оператора",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ищем касса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Обновляем ЗП",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ищем оператора": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Расчет зп",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавляем дату": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6888ce96-c883-442b-8718-413b7b70170d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ba096f02995bf00f0e0d7f89e3d4bb03ff42f490a23f5d0fb51a8e38efa61d9"
  },
  "id": "RNWedSNS1d44a4gD",
  "tags": []
}